$def with (input, errors, channels, grp, chan_nums, grp_nums)

$if errors:
	<p>Invalid input.

<form method="POST">
<table class="formtable">
	<tr>
		<td align='right'>User name:</td>
		<td><INPUT name="realname" value="$input.get('realname')"/></td>
	</tr>
	$if grp_nums > 1:
	    <tr>
	$else:
	    <tr style="display:none;">
	<td align='right'>Location:</td>
	<td>
	    <SELECT name="grps">
		$for b in grp:
		    $if input.get('grps') == b.id:
			<OPTION selected value="$b.id">$b.name</OPTION>
		    $else:
			<OPTION value="$b.id">$b.name</OPTION>
	    </SELECT>
	</td>
	<tr>
		<td align='right'>IP address:</td>
		<td><INPUT name="ipaddr" value="$input.get('ipaddr')" maxlength="15"/></td>
	</tr> 
	<tr>
		<td align='right'>MAC address:</td>
		<td><INPUT name="hwaddr" value="$input.get('hwaddr')" maxlength="17"/> (00:00:00:00:00:00)</td>
	</tr>
	<tr>
		<td align='right'>Channel:</td>
		<td>
			$if chan_nums > 1:
			    <SELECT name="channel" style="display:block;">
			$else:
			    <select name="channel" style="display:none;">
			$for c in channels:
			    $if input.get('channel') == c.id:
				<OPTION selected value="$c.id">$c.name</OPTION>
			    $else:
				<OPTION value="$c.id">$c.name</OPTION>
			</SELECT>
			<INPUT name="bw_down" value="$input.get('bw_down')" size="6"/>Kbit IN &darr; (0 - Unlim)<br/>
			<INPUT name="bw_up" value="$input.get('bw_up')" size="6"/>Kbit OUT &uarr; (0 - Unlim)
		</td>
	</tr>
	<tr>
		<td align='center' colspan=2><INPUT type='submit' value="Submit">
		</td>
	</tr>
</TABLE>
</FORM>
