$def with (input, error, channel, grps, channels)

$if error:
    <p>Invalid input.</p>


<form method="POST">
<table class="formtable">
        <tr>
                <td align='right'>User name:</td>
                        <td><INPUT name="realname" value="$input.get('realname')"/>
                            <INPUT name="id" value="$input.get('id')" type="hidden" />
                        <a href="/removeuser?id=$input.get('id')"><img src="/static/icons/user_delete.png" title="Remove user"/></a></td>
        </tr>
        <tr>
                <td align='right'>Location:</td>
                <td><SELECT name="grps">
                    $for b in grps:
                        $if input.get('grps') == b.id or input.get('groups') == b.id:
                            <OPTION selected value="$b.id">$b.name</OPTION>
			$else:
                            <OPTION value="$b.id">$b.name</OPTION>
                    </SELECT>
        </td>
        <tr>
                <td align='right'>IP address:</td>
                <td><INPUT name="ip" value="$input.get('ip')" maxlength="15"/></td>
        </tr>
        <tr>
                <td align='right'>MAC address:</td>
                <td><INPUT name="mac" value="$input.get('mac')" maxlength="17"/></td>
        </tr>
	<tr style="display:none;">
		<td align='right'>Limit sites:</td>
		<td>
		<select name="limitsites">

		    $if input.get('limit_sites') == 'false':
			<option selected value="false">No</option>
		    $else:
			<option value="false">No</option>

		    $if input.get('limit_sites') == 'true':
			<option selected value="true">Yes</option>
		    $else:
			<option value="true">Yes</option>

		</select>
		</td>
	</tr>
	<tr>
                <td align='right'>Channel:</td>
                <td>
            	    $if channels > 1:
                        <SELECT name="channel">
                    $else:
                	<SELECT style="display:none;" name="channel">
                    $for c in channel:
                        $if input.get('channel') == c.id:
                            <OPTION selected value="$c.id">$c.name</OPTION>
                        $else:
                            <OPTION value="$c.id">$c.name</OPTION>
                        </SELECT><br/>
            	    <INPUT name="bw_down" value="$input.get('bw_down')" size="6"/>Kbit IN &darr; (0 - Unlim)<br/>
            	    <INPUT name="bw_up" value="$input.get('bw_up')" size="6"/>Kbit OUT &uarr; (0 - Unlim)
                </td>
	</tr>
        <tr>
                <td align='right' colspan=2><INPUT type='submit' value="Submit">
                </td>
        </tr>
</TABLE>
</FORM>

